@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: white;
  background-color: #000000;
}

.primaryButton {
  background-color: #000000;
  color: white;
  outline: none;
  padding:5px 20px;
  border-radius: 5px;
}
.primaryButton:hover {
  background-color: #1b1b1b;
}

.secondaryButton{
  background-color: orangered;
  color: white;
  outline: none;
  padding:5px 20px;
  border-radius: 8px;
}

.secondaryButton:hover {
  background-color: rgb(233, 74, 16);
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* navbar css */
.navbar {
  font-family: "roboto", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  box-shadow: 0 2px 1px -1px rgb(232, 232, 232);
  padding: 12px 0px;
}

.nav-link {
  font-weight: 500;
  margin-right: 22px;
}

.nav-item:hover {
  color: rgb(12, 155, 194);
}

/* .active {
  border-bottom: 2px solid black;
} */

/* .navbar-nav .nav-item:hover {
  background-color: #343a40; 
*/

.navbar-brand {
  font-weight: 600;
  margin-left: 20px;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
}

.search-form input {
  border: none;
  border-radius: 0;
}

.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: white;
}

.search-form button:hover {
  color: white;
  /* background-color: rgb(144,142,162); */
}



/* home page css starts here */



.fontBold {
  /* font-weight: bold; */
  font-size: small;
}


/* home page css ends here */






/* =============================
  ==========footer============= */

.footer {
  color: white;
  padding: 25px;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: rgb(210, 210, 210);
  padding: 20px;
}

.footer a:hover {
  color: #ffefba;
}

/* =================================
  ======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 80px;
  font-weight: 600;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  text-decoration: none;
  padding: 8px 22px;
  margin-top: 10px;
}

.pnf-btn:hover {
  background-color: black;
  color: white;
  border-radius: 8px;
}

/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}

.cat-btn:hover {
  background-color: #434343;
  color: white;
}

/* ================
  ====dashboard
  =================== */

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px 0px;
}



/* cart page styling start here  */

/* @media (max-width: 767px) {
  .cartImage {
    width: 100% !important;
  }
} */



/* cart page styling ends here  */